/* Set default styles for the body */
body {
  margin: 0;
  background-color: #f8f9fa;
  font-family: sans-serif;
}

/* Style the chat container */
.chat-container {
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

/* Style the chat messages */
.chat-message {
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 10px;
  max-width: 80%;
}

.chat-message .sender {
  font-weight: bold;
  margin-right: 10px;
}

.chat-message .message {
  margin-left: 10px;
}

/* Style the chat input container */
.chat-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  bottom: 20px;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

/* Style the chat input field */
.chat-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px;
  border-radius: 30px;
  margin-right: 20px;
}

/* Style the chat send button */
.chat-send-btn {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 30px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.chat-send-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

/* Style the room ID element */
.room-id {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

/* Style the copy button */
.copy-btn {
  margin-left: 10px;
}

.exit-btn{
  float: right;
}

/* Style system messages */
.system-message {
  font-size: 16px;
  color: #007bff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
  background-color: #f2f2f2;
}

/* Style the list of users in the room */
.user-list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: calc(100vh - 250px);
  overflow-y: auto;
  width: 100%;
}
/* 
.user-list {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 20px;
  max-width: 80%;
  overflow-y: scroll;
  margin-top: 20px;
} */